* {
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  user-select: none;
  -webkit-app-region: drag;
  background-image: url("sheets/outer-frame-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  overflow: hidden;
}

.app {
  display: flex;
  width: 13.375rem;
  padding: 1rem 1.0625rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

button,
input,
textarea,
select {
  -webkit-app-region: no-drag;
  cursor: pointer;
}

.title {
  /* layout */
  display: flex;
  width: 157px;
  padding: 0.25rem 0.625rem;
  justify-content: center;
  align-items: center;

  /* style */
  border-radius: 100px;
  border: 1px solid #9eb8a0;
  background: rgba(158, 184, 160, 0.4);

  color: var(--white, #fff);

  /* song-name */
  font-family: "Pixelify Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#calendar {
  display: flex;
  width: 11.25rem;
  height: 10.0625rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;

  background-image: url(sheets/inner-frame-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#day {
  display: flex;
  width: 100%;
  height: auto;
  flex: 1;
  flex-direction: column;
  justify-content: flex-end;

  color: #fff;
  text-align: center;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: #f8ccd6;
  font-family: "Pixelify Sans";
  font-size: 6.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.2rem;
}

#month {
  width: 100%;
  height: 3rem;

  display: flex;
  align-items: flex-start;
  justify-content: center;

  color: #fff;
  text-align: center;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: #f8ccd6;
  font-family: "Jersey 10";
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.3rem;

  text-transform: uppercase;
  text-indent: 0.3rem;
}
